<div class="tag">
  <div class="tag__header">
    <div class="tag__header-symbol">
      <ion-icon name="pricetag-outline"></ion-icon>
    </div>
    <div class="tag__header-title">
      <b>{{ tag.slug }}</b>
      <br />
      <ion-note>Trending</ion-note>
    </div>
    <div class="tag__header-count">
      <b>{{ tag.total_likes }}</b>
    </div>
  </div>
  <div class="tag__content">
    <ion-row>
      <ion-col [sizeSm]="4" [sizeMd]="3" [sizeLg]="2" [sizeXs]="3" *ngFor="let tweet of tag.tweets">
        <tiktok-tweet-grid-item [tweet]="tweet"></tiktok-tweet-grid-item>
      </ion-col>
    </ion-row>
  </div>
</div>