<div class="tweet">
    <video [src]="tweet.video.file_url" loop [autoplay]="autoPlay" #video></video>
    <div class="tweet__info">
        <div class="tweet__left">
            <div class="tweet__owner font-large font-500">
                @{{ tweet.user.name }}
            </div>
            <div class="tweet__title">
                {{ tweet.description }}
            </div>
            <div class="tweet__song">
                <ion-icon name="musical-notes-outline"></ion-icon>
                <span>
                    {{ tweet.song.title }}
                </span>
            </div>
        </div>
        <div class="tweet__right">
            <div>
                <ion-icon name="heart"></ion-icon>
                <span>4.6M</span>
            </div>
            <div>
                <ion-icon name="chatbubble-ellipses"></ion-icon>
                <span>957</span>
            </div>
            <div>
                <ion-icon name="logo-facebook"></ion-icon>
                <span>2.5K</span>
            </div>
        </div>
    </div>
</div>