<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="user">{{ user.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="general" *ngIf="user">
    <ion-avatar>
      <img [src]="'https://api.adorable.io/avatars/100.png'" />
    </ion-avatar>
    <div class="general__username">{{ user.phone_number }}</div>
    <div class="general__stats">
      <div>
        <div class="general__stat_num">{{ user.total_followings }}</div>
        <div class="general__stat_prop">Following</div>
      </div>
      <div>
        <div class="general__stat_num">{{ user.total_followers }}</div>
        <div class="general__stat_prop">Followers</div>
      </div>
      <div>
        <div class="general__stat_num">{{ user.total_received_tweet_likes }}</div>
        <div class="general__stat_prop">Likes</div>
      </div>
    </div>
    <div class="general__action" *ngIf="authUser.id !== user.id">
      <ion-button class="large" *ngIf="!user.is_liked" [color]="'danger'" strong (click)="toggleFollow()">Follow
      </ion-button>
      <ion-button class="large" *ngIf="user.is_liked" [color]="'dark'" strong>Message
      </ion-button>
      <ion-button *ngIf="user.is_liked" [color]="'dark'" (click)="toggleFollow()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="general__bio">
      Some bio go here
    </div>
  </div>

  <ng-container *ngIf="selectedSegment$ | async as selectedSegment">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
      <ion-segment-button [value]="SEGMENTS.PUBLIC_TWEETS">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="SEGMENTS.LIKED_TWEETS">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="SEGMENTS.PRIVATE_TWEETS">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div class="tweets-grid">
      <ion-row>
        <ion-col [sizeSm]="4" [sizeMd]="3" [sizeLg]="2" [sizeXs]="4" *ngFor="let tweet of tweets">
          <tiktok-tweet-grid-item (click)="showDetailTweet(tweet)" [tweet]="tweet"></tiktok-tweet-grid-item>
        </ion-col>
      </ion-row>
    </div>

    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event, selectedSegment)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>