:host {
  display: block;
}

video, img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tweet-item {
  position: relative;
  width: 100%; /* desired width */
}

.tweet-item:before {
  content: "";
  display: block;
  padding-top: 100%; /*What you want the height to be in relation to the width*/
}
