<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ng-container *ngIf="selectedSegment$ | async as selectedSegment">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
      <ion-segment-button [value]="SEGMENTS.FOLLOWING">
        Followings ({{ counts.FOLLOWING }})
      </ion-segment-button>
      <ion-segment-button [value]="SEGMENTS.FOLLOWER">
        Followers ({{ counts.FOLLOWER }})
      </ion-segment-button>
    </ion-segment>

    <tiktok-spinner *ngIf="fetching"></tiktok-spinner>

    <ng-container *ngIf="!fetching && users.length === 0">
      <div class="ion-text-center ion-margin">No item here</div>
    </ng-container>

    <ion-list>
      <tiktok-user-list-item (click)="goToProfile(user)" *ngFor="let user of users" [user]="user">
        <ng-container *ngIf="authUser.id === userId">
          <ng-container *ngIf="selectedSegment === SEGMENTS.FOLLOWER">
            <ion-button *ngIf="!user.is_liked" slot="end" (click)="toggleFollow($event, user)"
              [color]="user.is_liked ? 'primary' : 'dark'">
              Follow back
            </ion-button>
          </ng-container>
          <ng-container *ngIf="selectedSegment === SEGMENTS.FOLLOWING">
            <ion-button slot="end" (click)="toggleFollow($event, user)" [color]="user.is_liked ? 'primary' : 'dark'">
              {{ user.is_liked ? 'Following' : 'Follow' }}
            </ion-button>
          </ng-container>
        </ng-container>
      </tiktok-user-list-item>
    </ion-list>

    <ion-infinite-scroll threshold="10px" (ionInfinite)="doLoadMore($event, selectedSegment)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>