<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ng-container *ngIf="selectedSegment$ | async as selectedSegment">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
      <ion-segment-button [value]="SEGMENTS.FOLLOWER">
        Follower
      </ion-segment-button>
      <ion-segment-button [value]="SEGMENTS.FOLLOWING">
        Following
      </ion-segment-button>
    </ion-segment>

    <tiktok-spinner *ngIf="fetching"></tiktok-spinner>

    <ng-container *ngIf="!fetching && users.length === 0">
      <div class="ion-text-center ion-margin">No item here</div>
    </ng-container>

    <ion-list>
      <tiktok-user-list-item (click)="goToProfile(user)" *ngFor="let user of users" [user]="user">
        <ng-container *ngIf="selectedSegment === 'FOLLOWER'">
          <ion-button slot="end" (click)="toggleFollow($event, user)" [color]="user.isFollowing ? 'primary' : 'dark'">
            {{ user.isFollowing ? 'Following' : 'Follow' }}
          </ion-button>
        </ng-container>
      </tiktok-user-list-item>
    </ion-list>

    <ion-infinite-scroll threshold="10px" (ionInfinite)="doLoadMore($event, selectedSegment)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>