<ion-header>
  <ion-toolbar>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="post-main">
    <ion-col [size]="9" class="post-main__left">
      <ion-textarea [(ngModel)]="description" [rows]="5" (ngModelChange)="onTweetDescriptionChange($event)" [placeholder]="'Write some words for your tweet'"></ion-textarea>
    </ion-col>
    <ion-col [size]="3" class="post-main__right ion-activatable" (click)="pickVideo()">
      <ion-ripple-effect></ion-ripple-effect>
      <ng-container *ngIf="videoBase64">
        <video [src]="videoBase64"></video>
      </ng-container>
      <ng-container *ngIf="!videoBase64">
        <ion-icon name="videocam-outline"></ion-icon>
      </ng-container>
    </ion-col>
  </ion-row>

  <ion-row class="tag-suggestions">
    <h1 (click)="selectTag(tag)" *ngFor="let tag of suggestedTags">{{ tag.slug }}</h1>
  </ion-row>

  <div slot="fixed" class="post-actions">
    <ion-button class="large" [color]="'dark'" strong>
      <ion-icon name="document-outline"></ion-icon>
      <span>Drafts</span>
    </ion-button>
    <ion-button class="large" [color]="'danger'" strong (click)="postTweet()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <span>Post</span>
    </ion-button>
  </div>
</ion-content>


<!-- <ion-toolbar>
  <ion-buttons>
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Default Buttons</ion-title>
  <ion-buttons slot="">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar> -->