<div class="comment" (click)="replyTo(comment)" [attr.data-comment-id]="comment.id">
  <div class="comment__avatar">
    <img [src]="'https://api.adorable.io/avatars/50' + comment.id + '.png'" />
  </div>
  <div class="comment__body">
    <div class="comment__username">
      {{ comment.user.name }}
    </div>
    <div class="comment__content">
      {{ comment.content }} 
      <span class="comment__created-at">{{ comment.created_at | timeAgo }}</span>
    </div>
    <div *ngIf="comment.children_count > 0" class="comment__view-more" (click)="toggleShowChildren()">
      View replies ({{ comment.children_count }}) <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
  </div>
  <div class="comment__reaction">
    <tiktok-likable [likableId]="comment.id" [totalLikes]="comment.total_likes" [isLiked]="comment.is_liked"
      [likableType]="'COMMENT'" (onDislike)="onDislike()" (onLike)="onLike()"></tiktok-likable>
  </div>
</div>

<div *ngIf="showChildren" class="children-comments" [ngStyle]="{marginLeft: nestedLevel * 10 + 'px'}">
  <tiktok-comment-item *ngFor="let childComment of comment.children" [comment]="childComment"
    (onReplyTo)="replyTo(childComment)" [nestedLevel]="nestedLevel+1"></tiktok-comment-item>
  <div class="children-comments__view-more" *ngIf="hasMoreChildrenComments" (click)="viewMoreChilren()">
    View more <ion-icon name="chevron-down-outline"></ion-icon>
  </div>
</div>