<ion-header>
    <ion-toolbar>
        <ion-title>Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="post-main">
        <ion-col [size]="9" class="post-main__left">
            <ion-textarea (ngModelChange)="onTweetDescriptionChange($event)" [(ngModel)]="description" [placeholder]="'Write some words for your tweet'"
                          [rows]="5"></ion-textarea>
        </ion-col>
        <ion-col (click)="pickVideo()" [size]="3" class="post-main__right ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ng-container *ngIf="videoBase64">
                <video [src]="videoBase64"></video>
            </ng-container>
            <ng-container *ngIf="!videoBase64">
                <ion-icon name="videocam-outline"></ion-icon>
            </ng-container>
        </ion-col>
    </ion-row>

    <ion-list *ngIf="suggestedTags.length > 0" class="tag-suggestions ion-padding">
        <ion-note>Suggested tags:</ion-note>
        <ion-item (click)="selectTag(tag)" *ngFor="let tag of suggestedTags" button class="ion-no-padding ion-no-margin"
                  detail>
            <ion-label>{{ tag.slug }}</ion-label>
        </ion-item>
    </ion-list>

    <div class="post-actions" slot="fixed">
        <ion-button (click)="postTweet('DRAFT')" [color]="'dark'" class="large" strong>
            <ion-icon name="document-outline"></ion-icon>
            <span>Drafts</span>
        </ion-button>
        <ion-button (click)="postTweet('PUBLIC')" [color]="'danger'" class="large" strong>
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <span>Post</span>
        </ion-button>
    </div>
</ion-content>


<!-- <ion-toolbar>
  <ion-buttons>
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Default Buttons</ion-title>
  <ion-buttons slot="">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar> -->