* {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
}

.font-normal {
    font-size: 0.875rem;
}

.font-small {
    font-size: 0.75rem;
}

.font-large {
    font-size: 1rem;
}

.font-500 {
    font-weight: 500;
}
